
/* REGOLE GENERALI DELLA PAGINA */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#jumbotron, #third {
  background-color: #1abc9c;
}
header, #foot-up {
  background-color: #1a252f;
}
#second, #fourth {
  background-color: white;
}
h1 {
  font-size: 36pt;
  letter-spacing: 2px;
}
h1, p {
  font-weight: bold;
}
p {
  font-size: 16pt;
}
#jumbotron, #third, footer, header {
  color: white;
}
.glyphicon-star {
  font-size: 30pt;
  text-align: center;
  padding: 10px 0;
}
/* INTESTAZIONE DI PAGINA */
header {
  height: 10vh;
}
span {
  font-size: 20pt;
  letter-spacing: 2px;
  line-height: 10vh;
  vertical-align: middle;
}
nav {
  text-decoration: none;
  text-align: right;
  line-height: 10vh;
  vertical-align: middle;
  color: white;
}
li {
  display: inline;
  padding-left: 30px;
  font-size: 14pt;
}
a {
  color: white;
}
li a:hover {
  text-decoration: none;
  background-color: #27cc02;

}
/* CORPO CENTRALE PAGINA */
.center {
  text-align: center;
}
#jumbotron {
  padding: 80px 0;
}
#jumbotron img {
  width: 350px;
  height: 350px;
}
#second {
  padding: 60px 0;
}
.container-img {
  margin: 20px 0;
}
.container-img img{
  width: 100%;
  border-radius: 10px;
}
#third p {
  font-weight: normal;
}
#center2text {
  padding: 0 120px;
  margin-bottom: 100px;
  text-align: left;
}
#fourth {
  padding: 40px 0;
}
input {
  margin: 30px 0;
}
form #submit-sx {
  background-color: #27cc02;
  width: 80px;
  height: 60px;
  border: none;
  border-radius: 5px;
  float: left;
  color: white;
  font-size: 10pt;
  font-weight: bold;
}
/* PIE' DI PAGINA */

#foot-up h2 {
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
}
#foot-up p {
  font-weight: normal;
  text-align: center;
  padding: 30px 0;
}
#foot-up a {
  color: #1abc9c;
}
#foot-up ul {
  text-align: center;
  padding-top: 30px;
}
#foot-up li {
  border: 2px solid white;
  padding: 10px;
  border-radius: 50%;
}
#foot-up li:nth-of-type(2){
  margin: 0 2px;
}
#foot-up li:first-child {
  padding: 11px 15px;
  margin-right: 2px;
}
#foot-up li:nth-of-type(3) {
  padding: 11px 12px;
  margin: 0 2px;
}
#foot-up li:last-child {
  padding: 11px 11px;
}
#foot-up li a {
  color: white;
}
#foot-down {
  background-color: #343a40;
  height: 7vh;
}
#foot-down p {
  text-align: center;
  line-height: 7vh;
  vertical-align: middle;
  font-weight: normal;
}
