
/* Debug */
[class*="col-"] {
  min-height: 200px;
}

/* REGOLE GENERALI DELLA PAGINA */
* {
  box-sizing: border-box;
}
#jumbotron, #third {
  background-color: #1abc9c;
}
header, #foot-up {
  background-color: #1a252f;
}
#second, #fourth {
  background-color: white;
}
/* INTESTAZIONE DI PAGINA */
header {
  height: 10vh;
  /* position: fixed; */
}
/* CORPO CENTRALE PAGINA */
#jumbotron {
  height: 100vh;
}
#second {
  height: 100vh;
}
#third {
  height: 100vh;
}
#fourth {
  height: 100vh;
}
/* PIE' DI PAGINA */
#foot-up {
  height: 50vh;
}
#foot-down {
  background-color: #343a40;
  height: 10vh;
}
